<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.dao.UniMapper">
  <resultMap id="BaseResultMap" type="com.zk.entity.Uni">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Sheng" jdbcType="VARCHAR" property="sheng" />
    <result column="Score" jdbcType="REAL" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Name, Sheng, Score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uni
    where id = #{id,jdbcType=INTEGER}
  </select>


  <!--手动添加selectAll()   sql 语句-->
  <!--from 前面不需要  *  号 ！！！！-->
  <!--selectAll  后面 不带 括号!!!!!-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from uni
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uni
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zk.entity.Uni">
    insert into uni (id, Name, Sheng, 
      Score)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sheng,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zk.entity.Uni">
    insert into uni
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="sheng != null">
        Sheng,
      </if>
      <if test="score != null">
        Score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sheng != null">
        #{sheng,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zk.entity.Uni">
    update uni
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sheng != null">
        Sheng = #{sheng,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        Score = #{score,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zk.entity.Uni">
    update uni
    set Name = #{name,jdbcType=VARCHAR},
      Sheng = #{sheng,jdbcType=VARCHAR},
      Score = #{score,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>