<!DOCTYPE html>
<html lang="zh-cn" class="login">
  <head>
  	<meta charset="utf-8">
    <title>Node的个人博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge",chrome="1">
    <meta name="description" content="Node的个人博客,分享Node.js技术,不忘初心,共同成长!">
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header id="indexh1">
        <h1>博客登录中心</h1>
    </header>
    <section>
    	<form action="/login" name="myform" method="post">
    		<div class="form-group">
    			<input type="text" name="name" placeholder="用户名">
    		</div>
    		<div class="form-group">
    			<input type="password" name="password" placeholder="密码">
                <% if(message) {%>
                <p> <%= message%></p>
                <% } %>
    		</div>
    		<div class="form-group"> 
    			<input type="submit" value="登录">
                <input type="button" value="注册" onclick="ac()">
                <!-- 一个表单中有两个提交按钮 -->
    		</div>
    	</form>
    </section>
    <footer id="footer1">
    	<p>Copyright 赵凯 2018</p>
    	<p>Powered by Express</p>
    </footer>
  </body>
</html>
<script type="text/javascript">
    function ac(){
        document.myform.action="/register";
        document.myform.submit();
    }
</script>